* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header */
header {
    background-color: maroon;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    color: gold;
}

header img {
    max-width: 100%;
    height: auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 50px;
    background-color: maroon;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.spacer {
    flex-grow: 1; 
}

.nav-links li a {
    color: gold;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: gold;
    color: maroon;
    border-radius: 5px;
}


.main-content {
    display: flex;
    align-items: center;
    background-color: goldenrod;
    padding: 50px 30px;
    color: #fff;
}
.main-content2 {
    display: flex;
    align-items: center;
    background-color: maroon;
    padding: 50px 30px;
    color: #fff;
}

.left-panel {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background-color: #f9f9f9; /* Light background to make it stand out */
    border-radius: 8px;
    width: 70%;
    margin-right: 40px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.left-panel h1 {
    margin-bottom: 20px;
    color: #333;
}

.left-panel p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #666;
}

.bottom-panel {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background-color: #f9f9f9; /* Light background to make it stand out */
    border-radius: 8px;
    width: 70%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.bottom-panel h1 {
    margin-bottom: 20px;
    color: #333;
}

.bottom-panel p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #666;
}

.oval-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    float: right; 
    transition: background-color 0.3s;
}

.oval-button:hover {
    background-color: darkblue;
}

.right-panel img {
    max-width: 500px;
    border-radius: 20px;
    margin-right: 50px;
}

.info-content {
    background-color: #fff;
    padding: 30px;
    font-size: 18px;
    line-height: 1.6;
}

.info-content strong {
    color: #E74C3C;  /* Red color */
}
