@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

header {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(80, 23, 23); 
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    margin-bottom: 15px;
}

body {
    margin-top: 75px;
    display: block;
    align-items: center;

}

.account-options {
    text-align: left;
    margin-left: 15px;
    display: inline-block;
}



.first-account-container {
    background-color: #AEAEAE;
    width: 75%;
    margin: 0 12.5%;
    margin-bottom: 100px;
    border-radius: 20px;
    margin-top: 150px;
    text-align: left;
    box-shadow: rgba(80, 23, 23, 0.4) 5px 5px, rgba(80, 23, 23, 0.35) 7.5px 7.5px, rgba(80, 23, 23, 0.3) 10px 10px, rgba(80, 23, 23, 0.25) 12.5px 12.5px, rgba(80, 23, 23, 0.2) 15px 15px, rgba(80, 23, 23, 0.15) 17.5px 17.5px, rgba(80, 23, 23, 0.1) 20px 20px, rgba(80, 23, 23, 0.05) 25px 25px;
}

.account-container {
    background-color: #AEAEAE;
    width: 75%;
    margin: 0 12.5%;
    margin-bottom: 100px;
    border-radius: 20px;
    box-shadow: rgba(80, 23, 23, 0.4) 5px 5px, rgba(80, 23, 23, 0.35) 7.5px 7.5px, rgba(80, 23, 23, 0.3) 10px 10px, rgba(80, 23, 23, 0.25) 12.5px 12.5px, rgba(80, 23, 23, 0.2) 15px 15px, rgba(80, 23, 23, 0.15) 17.5px 17.5px, rgba(80, 23, 23, 0.1) 20px 20px, rgba(80, 23, 23, 0.05) 25px 25px;
}

.first-account-container > h1 {
    padding-left: 15px; 
    padding-bottom: 1px;
    display: inline-block;
    max-width: 35vw;
    width: 35vw;

}

.account-container > h1 {
    padding-left: 15px;
    padding-bottom: 1px;
    display: inline-block;
    max-width: 35vw;
    width: 35vw;
}

.first-account-container > h2, h3 {
    display: inline-block;
    max-width: 20vw;
    margin-left: 5vw;
}

.account-container > h2, h3 {
    display:inline-block;
    max-width: 20vw;
    margin-left: 5vw;
}

.account-container > h1 {
    padding-left: 15px; 
    padding-bottom: 15px;
}
.account-container-top {
    background-color: rgb(80, 23, 23);
    color: rgb(80, 23, 23);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    
}

.navbar {
    display: flex;
    padding: 1rem;
    color: white;

}

.right {
    display: flex;
    margin-left: 29vw;
    justify-content: flex-end;
}

#logo {
    width: max(75px, 18vw);
    aspect-ratio: 1/1.15;
    padding: 0.4rem;
  }

.navbar > a {
    color: inherit;
    text-decoration: none;
}

.navbar > a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: white;
}

.account-options > a, .account-options > button {
    color: #4b4b4b;
    text-decoration: none;
    background-color: #AEAEAE;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.account-options > a:hover, .account-options > button:hover {
    cursor: pointer;
    text-decoration: underline;
}


.centerBox {
    margin: 15px;
    margin-top: 110px;
    padding: 15px;
    display: flex;
    flex:1;
    flex-direction: row;
    border-radius: 15px;
    overflow: hidden;
    background-image: url("homeBackground.png");
    background-color: rgba(255,255,255,.8);
    background-blend-mode: lighten;
    border: 2px solid black;
    justify-content: space-between;
    align-items: center;
}

.centerBoxLeft {
    padding-bottom: 8%;
    padding-top: 8%;
    padding-left: 3%;
    text-align: center;
    color: rgb(20, 20, 20);
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
}

.centerBoxRight {
    text-align: center;
    padding-right: 3%;
    color: rgb(20, 20, 20);
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
}

.centerBoxRight a {
    text-decoration: none;
    color: rgb(255, 109, 56);
    text-align: right;
    margin-right: 15px;
}

.centerBox a:visited {
    color:currentColor;
}

.centerBox a:hover {
    color:red;
}

/* Modal Styling */
.modal-btn {
    border: none;
    border-radius: 15px;    
    background: black;
    color: #fff;
    font-size: 15px;
    height: 3rem;    
}

.modal{
    border-radius: 15px;
    border: none;
    width: 50%;
    min-width: 292px;
    height: 75%;
    padding: 10px;
    background-color: #ecf0f1;
    box-shadow: rgba(128, 0, 0, 1) inset;
}

.modal::backdrop {
    background: rgba(128, 0, 0, 0.8);
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    background-color: transparent;
    height: 99%;
    width: 99%;
    margin-left: 0.25vh;
    margin-top: 0.25vh;
    min-width: 270px;
}

.modal-container > h2 {
    text-align: center;
    width: 90%;
    border-bottom: solid;
    align-self: center;
    padding: 5px;
}

.modal-container > p {
    padding: 5px;
}

.card {
    width: 262px;
    height: 160px;
    align-self: center;
    background-color: black;
    color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

}

.stripe {
    height: 5%;
    width: 100%;
    background-color: red;
    margin-top:5%;
}
.inner-card-container {
    display: flex;
    flex-direction: row;

}
.card-logo {
    width: 50%;
    align-self: center;
}
.card-number {
    width: 100%;
    padding: 5px;
}
.card-type {
    margin-right: 5%;
}
.expiration, .card-name {
    font-size: 10px;
    margin: 5%;
}
